 html, body {
	height:100%;
 }
 
 body {
	cursor: default;
	overflow:hidden;
	background:#4a8bcc;
	position:relative;
	color:#ccc;
	font: 12px Arial 
			
}

body, h3, ul {
	margin: 0;
	padding: 0;
}


.canvasWrapper {
	width:100%;
	height:100%;
	max-height:800px;
	position:relative;
	top:0;
	/*border: 1px solid #e6e6e6;*/
}



.canvasWrapper canvas {
	top:0;
	position:absolute; 
	z-index:1; 
	width:100%;
	height:100%;
	
}

.canvasWrapper #scene-canvas {

	/*background:#729FCF;*/
	
}

.canvasImages {
	display: none;
}

#debug-info {
	padding:10px;
	color:#fff;
	font: 12px Arial 
}

.panel {
	
	position:absolute;
	left:50%;
	top:0;
	z-index:2
	
}

.confirmation {
	display:none;
	
}

.confirmation>.box{
	left:-115px;
	top:0;
	text-transform:uppercase;
	text-align:center;
	padding:15px 10px 15px 10px;
	background:#FFF;
	cursor:pointer;
	
}

.confirmation>.box{
	font-family: 'Aclonica', sans-serif;
	font-size:16px;
	color:#FF8C00;
}

ul.horizonalList {
	padding-bottom: 5px;
	text-align:center;
}

ul.horizonalList li{
	display:inline;
	margin-right: 10px;
}
	
.slick-box {
	position: relative;
	min-width:200px;
	border: 1px solid #efefef;
	
	padding: 0;
	border: 1px solid #efefef;
	margin: 0 30px 30px 0;
	background: #fff;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
}


.slick-box:before,
.slick-box:after {
	content: '';
	z-index: -1;
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 70%;
	max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
	max-height: 100px;
	height: 55%;
	-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	-webkit-transform: skew(-15deg) rotate(-6deg);
	-moz-transform: skew(-15deg) rotate(-6deg);
	-ms-transform: skew(-15deg) rotate(-6deg);
	-o-transform: skew(-15deg) rotate(-6deg);
	transform: skew(-15deg) rotate(-6deg); 
}


.slick-box:after {
	left: auto;
	right: 10px;
	-webkit-transform: skew(15deg) rotate(6deg);
	-moz-transform: skew(15deg) rotate(6deg);
	-ms-transform: skew(15deg) rotate(6deg);
	-o-transform: skew(15deg) rotate(6deg);
	transform: skew(15deg) rotate(6deg); 
}